<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Điểm danh phiên làm việc</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/vendors/iconfonts/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/vendors/css/vendor.bundle.addons.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CPoppins:400,500" rel="stylesheet">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/images/favicon.png" />

</head>

<body>



  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
      <div class="content-wrapper d-flex align-items-center auth theme-one" style="background: url('/images/background_no_logo.png'); background-size: cover;">

        <div>
          <img src="/images/nam.png" style="position: absolute; bottom: 20px;" id="nam">
        </div>

        <div>
          <img src="/images/nu.png" style="position: absolute; bottom: 20px; right: 10px;" id="nu">
        </div>

        <div style="top: 20px; position: absolute; left: 0; right: 0; margin-left: auto; margin-right: auto;">
          <div class="col-md-3" style="margin: auto">
            <img src="/images/logo.png" style="width: 80%; ">
          </div>
        </div>

        <div class="row object" style="margin: auto; width: 80%;" id="1">

          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 grid-margin stretch-card">
            <div class="card card-statistics">
              <div class="card-body">
                <div class="clearfix">
                  <div class="float-left">
                    <i class="mdi mdi-account-location text-success icon-lg"></i>
                  </div>
                  <div class="float-right">
                    <p class="mb-0 text-right">Tổng số đại biểu được triệu tập</p>
                    <div class="fluid-container">
                      <h3 class="font-weight-medium text-right mb-0 display-2" id="delegatesSummon">138</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 grid-margin stretch-card">
            <div class="card card-statistics">
              <div class="card-body">
                <div class="clearfix">
                  <div class="float-left">
                    <i class="mdi mdi-poll-box text-primary icon-lg"></i>
                  </div>
                  <div class="float-right">
                    <p class="mb-0 text-right">Tổng số đại biểu đã đến</p>
                    <div class="fluid-container">
                      <h3 class="font-weight-medium text-right mb-0 display-2" id="totalOfDelegates">
                        <%- sessionInfo.delegates.length %>
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 grid-margin stretch-card">
            <div class="card card-statistics">
              <div class="card-body">
                <div class="clearfix">
                  <div class="float-left">
                    <i class="mdi mdi-cube text-danger icon-lg"></i>
                  </div>
                  <div class="float-right">
                    <p class="mb-0 text-right">Tổng số đại biểu vắng mặt</p>
                    <div class="fluid-container">
                      <h3 class="font-weight-medium text-right mb-0 display-2" id="totalOfDelegatesAbsent">
                        <%- 138 - sessionInfo.delegates.length %>
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="wrapper">
              <div class="progress" style="height: 40px;">
                <div class="progress-bar progress-bar-success progress-bar-striped progress-bar-animated" role="progressbar"
                  style="width: <%- ((sessionInfo.delegates.length / 138) * 100).toFixed(2) %>%" id="process">
                  <%- ((sessionInfo.delegates.length / 138) * 100).toFixed(2) %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row object" style="margin: auto; width: 80%; display: none;" id="2">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 grid-margin stretch-card">
            <div class="card card-statistics">
              <div class="card-body">
                <h4 class="card-title">Về số lượng đại biểu</h4>
                <canvas id="SlDaiBieu" style="height:200px"></canvas>
              </div>
            </div>
          </div>
        </div>

        <div class="row object" style="margin: auto; width: 80%; display: none;" id="3">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 grid-margin stretch-card">
            <div class="card card-statistics">
              <div class="card-body">
                <h4 class="card-title">Về cơ cấu</h4>
                <canvas id="CoCau" style="height:230px"></canvas>
              </div>
            </div>
          </div>
        </div>

        <div class="row object" style="margin: auto; width: 80%; display: none;" id="4">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 grid-margin stretch-card">
            <div class="card card-statistics">
              <div class="card-body">
                <h4 class="card-title">Về tuổi đời</h4>
                <h3>Sinh viên lớn tuổi nhất: </h3><h3 id="birthDateMax"></h3>
                <h3>Sinh viên lớn nhỏ nhất: </h3><h3 id="birthDateMin"></h3>
              </div>
            </div>
          </div>
        </div>

        <div class="row object" style="margin: auto; width: 80%; display: none;" id="5">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 grid-margin stretch-card">
            <div class="card card-statistics">
              <div class="card-body">
                <h4 class="card-title">Về thành phần dân tộc</h4>
                <canvas id="nation" style="height:230px"></canvas>
              </div>
            </div>
          </div>
        </div>

        <div class="row object" style="margin: auto; width: 80%; display: none;" id="6">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 grid-margin stretch-card">
            <div class="card card-statistics">
              <div class="card-body">
                <h4 class="card-title">Về tôn giáo</h4>
                <canvas id="religionGroup" style="height:230px"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- content-wrapper ends -->
  </div>
  <!-- page-body-wrapper ends -->
  </div>


  <!-- SCIPTS -->
  <script src="/vendors/js/vendor.bundle.base.js"></script>
  <script src="/vendors/js/vendor.bundle.addons.js"></script>
  <script>
    var currentId = 1;
    var options = {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      },
      legend: {
        display: false
      },
      elements: {
        point: {
          radius: 0
        }
      }
    };
  </script>
  <script>
    $('#nam').on('click', function () {
      $('.object').hide();
      currentId -= 1;
      $(`#${currentId}`).show();
    });
    $('#nu').on('click', function () {
      $('.object').hide();
      currentId += 1;
      $(`#${currentId}`).show();
    })
  </script>

  <script>
    function getSum(total, num) {
      return total + num;
    }
    function getPercent(num, total) {
      return Math.round(num * 10000 / total) / 100;
    }
  </script>

  <!-- <script src="/js/chart.js"></script> -->
  <script src="/socket.io/socket.io.js"></script>
  <script>
    let socket = io.connect('http://daihoi.hsvbot.me:2589');
    socket.on('totalOfDelegates-<%- sessionInfo._id %>', function (data) {
      let process = ((data.delegates.length / 138) * 100).toFixed(2);
      $('#totalOfDelegates').text(data.delegates.length);
      $('#totalOfDelegatesAbsent').text(138 - data.delegates.length);
      $('#process').width(`${process}%`);
      $('#process').text(process);
    });
    socket.on('updateAnalytics-<%- sessionInfo._id %>', function (datas) {
      console.log(datas);
      let totalDelegates = parseInt($('#totalOfDelegates').text());

      let dataSlDaiBieu = [totalDelegates, 0, 0, 0];
      let dataCoCau = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
      let dataReligionGroup = [0, 0, 0, 0];
    let dataNation = [0, 0, 0, 0, 0, 0];
      $.each(datas, function (key, value) {
        if (key == "nameMax") {
          $('#birthDateMax').text(`${value[0].fullName}-${new Date().getFullYear() - new Date(value[0].birthDate).getFullYear()}`);
        }
        if (key == "nameMin") {
          $('#birthDateMin').text(`${value[0].fullName}-${new Date().getFullYear() - new Date(value[0].birthDate).getFullYear()}`);
        }
        if (key == "typeOfDelegate") {
          value.map(item => {
            if (item._id == "ĐẠI BIỂU ĐƯƠNG NHIÊN") {
              dataSlDaiBieu[1] += item.num ? item.num : 0;
            }
            if (item._id == "ĐẠI BIỂU CHỈ ĐỊNH") {
              dataSlDaiBieu[3] += item.num ? item.num : 0;
            }
          })
          dataSlDaiBieu[2] = totalDelegates - dataSlDaiBieu[1] - dataSlDaiBieu[3];
        }
        if (key == "genderGroup") {
          value.map(item => {
            if (item._id == false || item._id == "false") {
              dataCoCau[0] += item.num ? item.num : 0;
            }
          })
        }
        if (key == "numberOfYear") {
          let temp = 0;
          value.map(item => {
            if (item._id == "1") {
              dataCoCau[2] += item.num ? item.num : 0;
              temp += item.num;
            }
            if (item._id == "2") {
              dataCoCau[3] += item.num ? item.num : 0;
              temp += item.num;
            }
            if (item._id == "3") {
              dataCoCau[4] += item.num ? item.num : 0;
              temp += item.num;
            }
            if (item._id == "4") {
              dataCoCau[5] += item.num ? item.num : 0;
              temp += item.num;
            }
            if (item._id == "5") {
              dataCoCau[6] += item.num ? item.num : 0;
              temp += item.num;
            }
            if (item._id == "6") {
              dataCoCau[7] += item.num ? item.num : 0;
              temp += item.num;
            }
          })
          dataCoCau[1] = temp;
        }
        if (key == "partyMembers") {
          value.map(item => {
            if (item._id == true || item._id == "true") {
              dataCoCau[8] += item.num ? item.num : 0;
            }
          })
        }
        if (key == "isYouth") {
          value.map(item => {
            if (item._id == true || item._id == "true") {
              dataCoCau[9] += item.num ? item.num : 0;
            }
          })
        }
        if (key == "nation") {
          let tempNation = 0;
          value.map(item => {
            if (item._id == "Kinh" || item._id == "KINH") {
              dataNation[0] += item.num ? item.num : 0;
            }
            if (item._id == "Khơ me" || item._id == "Khmer") {
              dataNation[3] += item.num ? item.num : 0;
              tempNation += item.num ? item.num : 0;
            }
            if (item._id == "Hoa" || item._id == "HOA") {
              dataNation[2] += item.num ? item.num : 0;
              tempNation += item.num ? item.num : 0;
            }
            if (item._id == "Châu Ro") {
              dataNation[4] += item.num ? item.num : 0;
              tempNation += item.num ? item.num : 0;
            }
          })
          dataNation[1] = tempNation;
        }
        if (key == "religionGroup") {
          let tempReligionGroup = 0;
          value.map(item => {
            if (item._id == "Phật" || item._id == "Phật Giáo") {
              dataReligionGroup[1] += item.num ? item.num : 0;
              tempReligionGroup += item.num ? item.num : 0;
            }
            if (item._id.toLowerCase() == "thiên chúa" || item._id.toLowerCase() == "thiên chúa giáo" || item._id.toLowerCase() == "công giáo") {
              dataReligionGroup[2] += item.num ? item.num : 0;
              tempReligionGroup += item.num ? item.num : 0;
            }
            if (item._id.toLowerCase() == "không") {
              dataReligionGroup[0] += item.num ? item.num : 0;
              tempReligionGroup += item.num ? item.num : 0;
            }
          })
          dataReligionGroup[3] = totalDelegates - tempReligionGroup;
        }
      });

      console.log(dataSlDaiBieu);
      let SlDaiBieu = new Chart($("#SlDaiBieu").get(0).getContext("2d"), {
        type: 'bar',
        data: {
          labels: [
            "Tổng số Đại biểu: 100%",
            "ĐB Đương nhiên: " + getPercent(dataSlDaiBieu[1], totalDelegates) + "%",
            "ĐB Từ cơ sở: " + getPercent(dataSlDaiBieu[2], totalDelegates) + "%",
            "ĐB Chỉ định: " + getPercent(dataSlDaiBieu[3], totalDelegates) + "%"
            ],
          datasets: [{
            label: 'Đại biểu',
            data: dataSlDaiBieu,
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
              'rgba(255,99,132,1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
          }]
        },
        options: options
      });

      console.log(dataCoCau);
      let CoCau = new Chart($("#CoCau").get(0).getContext("2d"), {
        type: 'bar',
        data: {
          labels: [
            "ĐB là Nữ: " + getPercent(dataCoCau[0], totalDelegates) + "%", 
            "ĐB là SV: " + getPercent(dataCoCau[1], totalDelegates) + "%", 
            "SV năm 1: " + getPercent(dataCoCau[2], totalDelegates) + "%", 
            "SV năm 2: " + getPercent(dataCoCau[3], totalDelegates) + "%", 
            "SV năm 3: " + getPercent(dataCoCau[4], totalDelegates) + "%", 
            "SV năm 4: " + getPercent(dataCoCau[5], totalDelegates) + "%", 
            "SV năm 5: " + getPercent(dataCoCau[6], totalDelegates) + "%", 
            "SV năm 6: " + getPercent(dataCoCau[7], totalDelegates) + "%", 
            "ĐB là Đảng viên: " + getPercent(dataCoCau[8], totalDelegates) + "%", 
            "ĐB là Đoàn viên: " + getPercent(dataCoCau[9], totalDelegates) + "%"
          ],
          datasets: [{
            label: 'Đại biểu',
            data: dataCoCau,
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
            ],
            borderColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
            ],
            borderWidth: 1
          }]
        },
        options: options
      });
      
      console.log(dataNation);
      let nation = new Chart($("#nation").get(0).getContext("2d"), {
        type: 'bar',
        data: {
          labels: [
            "Kinh: " + getPercent(dataNation[0], totalDelegates) + "%",
            "Thiểu số: " + getPercent(dataNation[1], totalDelegates) + "%", 
            "Hoa: " + getPercent(dataNation[2], totalDelegates) + "%", 
            "Khơ me: " + getPercent(dataNation[3], totalDelegates) + "%", 
            "Châu Ro: " + getPercent(dataNation[4], totalDelegates) + "%", 
            "Khác: " + getPercent(dataNation[5], totalDelegates) + "%"
          ],
          datasets: [{
            label: 'Đại biểu',
            data: dataNation,
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
              'rgba(255,99,132,1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
          }]
        },
        options: options
      });

      console.log(dataReligionGroup);
      let religionGroup = new Chart($("#religionGroup").get(0).getContext("2d"), {
        type: 'bar',
        data: {
          labels: [
            "Không: " + getPercent(dataReligionGroup[0], totalDelegates) + "%",
            "Phật giáo: " + getPercent(dataReligionGroup[1], totalDelegates) + "%",
            "Thiên chúa giáo: " + getPercent(dataReligionGroup[2], totalDelegates) + "%",
            "Khác: " + getPercent(dataReligionGroup[3], totalDelegates) + "%"
          ],
          datasets: [{
            label: 'Đại biểu',
            data: dataReligionGroup,
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
              'rgba(255,99,132,1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
          }]
        },
        options: options
      });

    })

  </script>


</body>

</html>