<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Trang chủ</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/vendors/iconfonts/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/vendors/css/vendor.bundle.addons.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/images/favicon.png" />
</head>

<body>
  <div class="container-scroller">
    <% include ../partials/_navbar %>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <% include ../partials/_sidebar %>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <h4 class="card-title">Danh sách các Đại biểu</h4>
                  </div>
                  <div class="col-md-6 text-right">
                    <button type="button" class="btn btn-primary btn-fw" data-toggle="modal" data-target="#createNewDelegates">Thêm
                      mới</button>
                    <button type="button" class="btn btn-primary btn-fw" data-toggle="modal" data-target="#createNewDelegatesByFile">Nhập
                      file</button>
                    <button type="button" class="btn btn-primary btn-fw" data-toggle="modal" data-target="#updateAvatar">Avatar</button>
                    <button type="button" class="btn btn-primary btn-fw" data-toggle="modal" data-target="#changePass">Change
                      Pass</button>
                    <button type="button" class="btn btn-primary btn-fw" data-toggle="modal" data-target="#updateType">Update
                      Info</button>
                  </div>
                </div>
                <div class="table-responsive">
                  <table class="table table-striped table-bordered" id="table_id">
                    <thead>
                      <tr>
                        <th>
                          #
                        </th>
                        <th>
                          MSSV
                        </th>
                        <th>
                          Họ và tên
                        </th>
                        <th>
                          Giới tính
                        </th>
                        <th>
                          Lớp
                        </th>
                        <th>
                          Đơn vị
                        </th>
                        <th>
                          Loại đại biểu
                        </th>
                        <th>
                          QrCode
                        </th>
                        <th>
                          BarCode
                        </th>
                        <th>
                          Hành động
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <% delegatesList.map((item, index) => { %>
                      <tr>
                        <td class="py-1">
                          <%- index + 1 %>
                        </td>
                        <td>
                          <%- item.IdNumber %>
                        </td>
                        <td>
                          <%- item.fullName %>
                        </td>
                        <td>
                          <%- item.gender ? "Nam" : "Nữ" %>
                        </td>
                        <td>
                          <%- item.class %>
                        </td>
                        <td>
                          <%- item.faculty %>
                        </td>
                        <td>
                          <%- item.typeOfDelegate %>
                        </td>
                        <td>
                          <img src="<%- item.qrCode %>">
                        </td>
                        <td>
                          <img src="<%- item.barCode %>">
                        </td>
                        <td>
                          <button type="button" class="btn btn-icons btn-rounded btn-outline-warning" onclick="selectDelegates('<%- item._id %>')"
                            data-toggle="modal" data-target="#editModal">
                            <i class="fa fa-edit"></i>
                          </button>
                          <button type="button" class="btn btn-icons btn-rounded btn-outline-warning" onclick="removeDelegate('<%- item._id %>')"
                            data-toggle="modal" data-target="#deleteModal">
                            <i class="fa fa-trash-o"></i>
                          </button>
                        </td>
                      </tr>
                      <% }) %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- content-wrapper ends -->
        <% include ../partials/_footer %>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="/vendors/js/vendor.bundle.base.js"></script>
  <script src="/vendors/js/vendor.bundle.addons.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="/js/off-canvas.js"></script>
  <script src="/js/misc.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="/js/dashboard.js"></script>
  <script src="/js/notify.min.js"></script>
  <!-- End custom js for this page-->

  <% include ./modal/createNewDelegates %>
  <% include ./modal/updateAvatar %>
  <% include ./modal/createNewDelegatesByFile %>
  <% include ./modal/deleteDelegates %>
  <% include ./modal/changePassword %>
  <% include ./modal/updateType %>
  <% include ./modal/editModal %>

  <script>
    var delegatesId;
    function removeDelegate(id) {
      delegatesId = id;
    }
  </script>
  <script>
    function deleteDelegates() {
      $.ajax({
        url: '/admin/delegates/' + delegatesId,
        method: "DELETE",
        success: function (result) {
          location.reload();
        }
      })
    }
  </script>
  <script>
    const dateToInput = date =>
      `${date.getFullYear()
      }-${('0' + (date.getMonth() + 1)).slice(-2)
      }-${('0' + date.getDate()).slice(-2)
      }`;
  </script>
  <script>
    function selectDelegates(id) {
      $.ajax({
        url: "/admin/delegates/" + id,
        method: "GET",
        success: function (result) {
          let data = result.data;
          $('#IdNumberEdit').val(data.IdNumber);
          $('#fullNameEdit').val(data.fullName);
          $('#emailEdit').val(data.email);
          $('#birthDateEdit').val(dateToInput(new Date(data.birthDate)));
          $('#genderEdit').val(data.gender);
          $('#typeOfDelegateEdit').val(data.typeOfDelegate);
          $('#numberPhoneEdit').val(data.numberPhone);
          $('#classEdit').val(data.class);
          $('#facultyEdit').val(data.faculty);
          $('#nationEdit').val(data.nation);
          $('#religionEdit').val(data.religion);
          $('#dateInYouthUnionEdit').val(dateToInput(new Date(data.dateInYouthUnion)));
          $('#dateInStudentAssociationEdit').val(dateToInput(new Date(data.dateInStudentAssociation)));
          $('#youthUnionEdit').prop('checked', data.isALeaderYouth);
          $('#associaltionEdit').prop('checked', data.isALeaderAssociation);
          $('#partyMembersEdit').prop('checked', data.partyMembers);
          $('#idEdit').val(data._id);
          $('#numberOfYearEdit').val(data.numberOfYear);
        }
      })
    }
  </script>
  <script>
    $(document).ready(function () {
      $('#table_id').DataTable();
    });
  </script>
</body>

</html>